@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Stable Isotope Facility Online Order System</h1>
    Located on the University of California, Davis, campus, the Stable Isotope Facility (SIF) provides analytical services for local, national, and international researchers.  The SIF analyzes over 190,000 samples every year on 14 analytical systems.
    <ul>
        <li><a asp-action="Index" asp-area="Client" asp-controller="Order">Client Login</a> </li>
        <li><a asp-action="Register" asp-area="" asp-controller="Account">New Clients/Register</a></li>
        <li><a asp-action="Index" asp-area="Admin" asp-controller="Orders">SIF Employees</a></li>
    </ul>
</div>  
